* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(./img/background.jpg);
    background-size: cover;
  }
  
  
  
  section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5%;
    width: 35%;
    height: 50%;
    border: 2px solid white;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.295);
    padding: auto;
  }
  
  section h1 {
    color: white;
    font-size: 4vh;
    margin-bottom: 10vh;
  }
  
  #exercicioSelecionado {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    width: 30%;
    height: 10%;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    border: 3px solid black;
    
  }
  
  @media(max-width: 800px) {
    #exercicioSelecionado{
      width: 40%;
      font-size: 1rem;
    }
  
   
  
  }
  
  select option {
      background-color: black;
      color: #fff;
      font-weight: bold;
  }
  
  
  
  
  
  
  button {
    text-transform: uppercase;
    background: linear-gradient(
      135deg,
      #1f0962 0%,
      #541a85 25%,
      #892ba6 50%,
      #541a85 75%,
      #1f0962 100%
    );
    background-size: 400%;
    animation: animate 10s linear infinite;
    color: white;
    font-size: 2vh;
    width: 50%;
    height: 5rem;
    border-radius: 30px;
    border: 3px solid black;
    cursor: pointer;
  }
  
  @keyframes animate {
    100% {
      background-position: 400%;
    }
  }
  
  h2 {
    font-size: 2vh;
    color: white;
    margin-top: 10vh;
    font-weight: 400;
  }
  